.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111b21;
}

.login_container {
  border-radius: 5px;
  padding: 30px;
  width: 300px; /* Adjust width as needed */
}

.login form {
  display: flex; /* Arrange elements vertically by default */
  flex-direction: column;
}

.login label,
.login input[type="text"],
.login button {
  width: 100%; /* Make elements full width */
  margin-bottom: 10px; /* Spacing between elements */
}

.login label {
  font-weight: bold;
}

.login input[type="text"],
.login button {
  padding: 10px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 3px; /* Rounded corners */
}

.login button {
  background-color: #333; /* Darker color for button */
  color: #fff; /* White text */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
}

.login button:hover {
  background-color: #444; /* Darken on hover */
}
